.monster{
    background: url("../img/monster.png") no-repeat;
    background-size:contain;
    width:430px;
    height:430px;
    padding: 10px;
}

.blue-monster{
    background: url("../img/monster2.png") no-repeat !important;
    background-size: contain !important;
    width:430px;
    height:430px;
    padding: 10px;
}
body{
    //background-image:url('http://img3.goodfon.su/original/1680x1050/d/e1/dota-2-bounty-hunter-mogul.jpg');
}

