.monster{
    background: url("../img/monster.png") no-repeat;
    background-size:contain;
    width:430px;
    height:430px;
    padding: 10px;
    
}

.blue-monster{
    background: url("../img/monster2.png") no-repeat !important;
    background-size: contain !important;
    width:430px;
    height:430px;
    padding: 10px;
}
body{
    //background-color: black;
  background:url('http://pre14.deviantart.net/3491/th/pre/f/2014/328/0/1/land_of_ogres__forest__4_by_iennidesign-d87i8hg.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.header{
  padding: 34px 0;
  text-align: center;
  background: #333;
  font-family: 'Oswald', sans-serif;
  color: #fff;
  opacity: 0.8;
  text-shadow: 1px 1px 1px #000;
}